/* design for sign up business form*/

#BBody{
    background-color:grey;
}
#Bbase{
  background-color: white;
    padding: 5%;
    max-width: 350px; 
    margin: 0 auto; 
}
input{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

#buttn {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}
