/**Group Members: Jasmine Adelberg, Dylan Crites, Michele Lobato, Sameeka Maroli
    CSC 337: Final Project
    This document is the css for the home page (index.html).**/
body{
    margin: 0;
    padding: 0;
}
#banner{
    width: 100vw;
    height: 20vh;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgb(198, 134, 69);

    #logo{
        
        display: inline-block;
        height: 150px;
        width: 150px;

    }

    #companyName{
    
        margin-left: 2vw;
        font-size: 10vh;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        white-space: nowrap;
        font-family: Inter,sans-serif;

    }
   
        #helpButton{
            position: fixed;
            bottom: 3%;
            right: 5%;
            overflow: hidden;
            white-space: nowrap;
        }
        #signUpButton{
            position: absolute;
            display:block;
            top: 3%;
            right: 20%;
            overflow: hidden;
            white-space: nowrap;
            
        }
        #loginButton{
            position: absolute;
            display:block;
            right: 10%;
            top: 3%;
            overflow: hidden;
            white-space: nowrap;
        }
        #newRestaurantButton{
            position: absolute;
            display:block;
            top: 10%;
            right: 10%;
            overflow: hidden;
            white-space: nowrap;
        }
        

        
    }

#restaurantContainer{
    width: 90vw;
    height: 70vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    resize: both;
    overflow:auto;
    
    border: black solid;
}


button {

  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 13px;
  font-weight: 600;
  height: 30px;
  align-content: center;
  padding:  17px;
  text-align: center;
  touch-action: manipulation;

}

button:hover {
    border-color: rgb(0, 200, 255);
    color: rgb(0, 200, 255);
    fill:rgb(0, 200, 255);
  }
