body{
    margin: 0;
    padding: 0;
}
#banner{
    width: 100vw;
    height: 20vh;
    border: red dotted;
    margin: 0vw;

    #logo{
        height: 20vh;
        width: 20vh;
        border: red dotted;
        display: inline-block;
    }

    #companyName{
        margin-left: 2vw;
        font-size: 15vh;
        display: inline-block;
        vertical-align: top;
    }
    #homeButtons{
        height: 20vh;
        width: 30vw;
        display: inline-block;
        border: red dotted;
        vertical-align: top;
        float: right;
        position: relative;

        #helpButton{
            height: 15vh;
            width: 10vw;
            margin: 3vh;
            font-size: 7vh
        }
        #signUpButton{
            position: absolute;
            height: 5vh;
            width: 10vw;
            right: 5vw;
            bottom: 11vh;
            
        }
        #loginButton{
            position: absolute;
            height: 5vh;
            width: 10vw;
            right: 5vw;
            bottom: 4vh;
        }
        #createRestaurantButton{
            position: absolute;
            height: 5vh;
            width: 10vw;
            right: 5vw;
            bottom: 2vh;
        }
        

        
    }
}
#restaurantContainer{
    width: 90vw;
    height: 70vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    
    border: black solid;
}
