/**Group Members: Jasmine Adelberg, Dylan Crites, Michele Lobato, Sameeka Maroli
    CSC 337: Final Project
    This document is the css for the create and view reviews page. Splits the screen
    so one side has create a review and the other you can view all reviews for that
    place.**/
    
body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:100px;
 
}


#rating {
    width: 40%;
}

#allRating {
    width: 50%;
    
}
.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.star {
    font-size: 24px;
    color: #ffd700;
    cursor: pointer;
    margin-right: 5px;
}

.yellow-star {
    font-size: 18px;
    margin-right: 5px;
}

.stars {
    color: #ffd700;
    display: flex;
}

.star:hover {
    color: #ffcc00;
}

#output {
    text-align: center;
    
}

#freeform {
    width: 100%;
}

#buttn {
    margin-top: 10px;
}
